################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/.vs/API.slnx
/API/obj
/API/bin/Debug/net10.0
